* {
    font-family: "JetBrains Mono", FontAwesome, sans-serif;
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
    min-width: 0;
}

window#waybar {
    background-color: #2c313c;
    color: #abb2bf;
    border-right: 2px solid #3e4451;
    border-top: 2px solid #3e4451;
    border-bottom: 2px solid #3e4451;
    border-radius: 0px 6px 6px 0px; 
}

#workspaces {
    margin: 0 0px;
}

#workspaces button {
    padding: 0;
    background-color: rgba(62, 68, 81, 0.3);
    border-radius: 8px;
    min-width: 0px;
    min-height: 8px;
    margin: 6px 16px; 
    font-size: 0;
    transition: all 0.2s ease-in-out;
}

#workspaces button.active,
#workspaces button.focused {
    background-color: #61afef;
    margin: 6px 8px;
    min-width: 0px; 
    min-height: 16px;
}

#workspaces button:hover {
    background-color: rgba(97, 175, 239, 0.12);
}

#workspaces button.urgent {
    background-color: #e06c75;
}

#clock {
    margin-top: 16px;
    margin-left: 4px;
    margin-right: 6px;
    font-weight: bold;
}

#power-profiles-daemon {
    margin-bottom: 16px;
    font-weight: bold;
}
