* {
    font-family: "JetBrains Mono", FontAwesome, sans-serif;
    padding: 0px;
}

window#waybar {
    background-color: #1e1e2e;
    color: #cdd6f4;
    border-right: 1px solid #45475a;
}

#workspaces {
    min-width: 10px;
    background-color: #313244;
    border-radius: 4px;
    margin: 0px 6px;
}

#workspaces button {
    min-width: 14px;
    min-height: 8px;
    color: #cdd6f4;
    margin: 6px 6px;
    font-size: 12;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

#workspaces button.active,
#workspaces button.focused {
    background-color: #5277C3;
    min-width: 15px;
    color: #1e1e2e;
}

#workspaces button:hover {
    background-color: rgba(82, 119, 195, 0.18);
}

#workspaces button.urgent {
    background-color: #f38ba8;
}

#tray {
    margin-top: 16px;
    color: #cdd6f4;
}

#clock {
    margin: 16px 6px 0px 4px;
    font-weight: 600;
    color: #cdd6f4;
}

#power-profiles-daemon {
    margin: 5px 3px 16px 0px;
    font-weight: 600;
}

#power-profiles-daemon.performance {
    color: #f38ba8;
}

#power-profiles-daemon.balanced {
    color: #f9e2af;
}

#power-profiles-daemon.power-saver {
    color: #a6e3a1;
}
