* {
    font-family: "JetBrains Mono", FontAwesome, sans-serif;
    padding: 0px;
}

window#waybar {
    background-color: #272822;
    color: #F8F8F2;
    border-right: 1px solid #49483E;
}

#workspaces {
    min-width: 10px;
    background-color: #3E3D32;
    border-radius: 4px;
    margin: 0px 6px;
}

#workspaces button {
    min-width: 14px;
    min-height: 8px;
    color: #F8F8F2;
    margin: 6px 6px;
    font-size: 12;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

#workspaces button.active,
#workspaces button.focused {
    background-color: #A6E22E;
    min-width: 15px;
    color: #272822;
}

#workspaces button:hover {
    background-color: rgba(166, 226, 46, 0.18);
}

#workspaces button.urgent {
    background-color: #F92672;
}

#tray {
    margin-top: 16px;
    color: #F8F8F2;
}

#clock {
    margin: 16px 6px 0px 4px;
    font-weight: 600;
    color: #F8F8F2;
}

#power-profiles-daemon {
    margin: 5px 3px 16px 0px;
    font-weight: 600;
}

#power-profiles-daemon.performance {
    color: #F92672;
}

#power-profiles-daemon.balanced {
    color: #E6DB74;
}

#power-profiles-daemon.power-saver {
    color: #A6E22E;
}
