* {
    font-family: "JetBrains Mono", FontAwesome, sans-serif;
    padding: 0px;
}

window#waybar {
    background-color: #282c34;
    color: #abb2bf;
    border-right: 1px solid #3e4451;
}

#workspaces {
    min-width: 40px;
}

#workspaces button {
    background-color: #21252b;
    border-radius: 6px;
    min-width: 20px;
    min-height: 16px;
    font-size: 0;
    margin: 6px 14px;
    transition: all 0.2s ease-in-out;
}

#workspaces button.active,
#workspaces button.focused {
    background-color: #61afef;
    margin: 6px 8px;
    min-width: 16px;
}

#workspaces button:hover {
    background-color: rgba(97, 175, 239, 0.18);
}

#workspaces button.urgent {
    background-color: #e06c75;
}

#tray {
    margin-top: 16px;
    color: #abb2bf;
}

#clock {
    margin: 16px 6px 0px 4px;
    font-weight: 600;
    color: #abb2bf;
}

#power-profiles-daemon {
    margin: 5px 3px 16px 0px;
    font-weight: 600;
}

#power-profiles-daemon.performance {
    color: #e06c75;
}

#power-profiles-daemon.balanced {
    color: #e5c07b;
}

#power-profiles-daemon.power-saver {
    color: #98c379;
}
