* {
  font-family: "JetBrainsMono Nerd Font", sans-serif;
  font-weight: 500;
  font-size: 14px;
}

/* Main container */
.control-center {
  background: #282c34;
  color: #abb2bf;
  border-left: 1px solid #3e4452;
  border-radius: 0px;
  padding: 10px;
}

/* Section titles */
.widget-title {
  color: #d19a66;
  margin: 6px 0 4px 0;
}

/* Generic labels */
.widget-label {
  margin: 4px 0;
}

/* Notifications */
.notification {
  background: #21252b;
  border-radius: 6px;
  padding: 8px 10px;
  margin: 6px 0;
}

.notification-content {
  color: #abb2bf;
}

.summary {
  color: #d19a66;
  font-weight: 600;
}

.time {
  color: #5c6370;
}

/* Notification actions */
.notification-action {
  background: #282c34;
  border: 1px solid #3e4452;
  border-radius: 4px;
  color: #abb2bf;
  padding: 4px 6px;
}

.notification-action:hover {
  background: #3e4452;
}

/* Volume / backlight widgets */
.widget-volume,
.widget-backlight {
  background: #21252b;
  padding: 8px;
  border-radius: 6px;
  margin: 6px 10px;
}

.widget-volume > box > label,
.widget-backlight > box > label {
  color: #d19a66;
  font-size: 16px;
}

/* Sliders */
trough {
  background: #3e4452;
  border-radius: 999px;
  min-height: 6px;
}

highlight {
  background: #d19a66;
  border-radius: 999px;
}

slider {
  background: #abb2bf;
  border-radius: 50%;
}

/* MPRIS */
.widget-mpris {
  background: #21252b;
  border-radius: 6px;
  padding: 8px;
  margin: 6px 0;
}

.widget-mpris-title {
  color: #d19a66;
  font-weight: 600;
}

.widget-mpris-subtitle {
  color: #abb2bf;
}

/* Buttons grid container */
.widget-buttons-grid {
  padding: 0;
  margin-top: 6px;
}

/* Force buttons to fit width */
.widget-buttons-grid > flowbox {
  padding: 0;
}

.widget-buttons-grid > flowbox > flowboxchild {
  padding: 2px;
}

/* Full-width buttons */
.widget-buttons-grid > flowbox > flowboxchild > button {
  background: #21252b;
  border-radius: 6px;
  color: #abb2bf;
  padding: 20px 40px;
  min-width: 100%;
}

/* Hover */
.widget-button  -grid > flowbox > flowboxchild > button:hover {
  background: #d19a66;
  color: #282c34;
}

/* Power buttons accent */
.widget-buttons-grid#power > flowbox > flowboxchild > button:hover {
  background: #e06c75;
  border-color: #e06c75;
  color: #282c34;
}
