* {
  font-family: "JetBrainsMono Nerd Font", sans-serif;
  font-weight: 500;
  font-size: 14px;
}

/* Main container */
.control-center {
  background: #272822;
  color: #F8F8F2;
  border-left: 1px solid #49483E;
  border-radius: 0px;
  padding: 10px;
}

/* Section titles */
.widget-title {
  color: #A6E22E;
  margin: 6px 0 4px 0;
}

/* Generic labels */
.widget-label {
  margin: 4px 0;
}

/* Notifications */
.notification {
  background: #3E3D32;
  border-radius: 6px;
  padding: 8px 10px;
  margin: 6px 0;
}

.notification-content {
  color: #F8F8F2;
}

.summary {
  color: #A6E22E;
  font-weight: 600;
}

.time {
  color: #75715E;
}

/* Notification actions */
.notification-action {
  background: #272822;
  border: 1px solid #49483E;
  border-radius: 4px;
  color: #F8F8F2;
  padding: 4px 6px;
}

.notification-action:hover {
  background: #49483E;
}

/* Volume / backlight widgets */
.widget-volume,
.widget-backlight {
  background: #3E3D32;
  padding: 8px;
  border-radius: 6px;
  margin: 6px 10px;
}

.widget-volume > box > label,
.widget-backlight > box > label {
  color: #A6E22E;
  font-size: 16px;
}

/* Sliders */
trough {
  background: #49483E;
  border-radius: 999px;
  min-height: 6px;
}

highlight {
  background: #A6E22E;
  border-radius: 999px;
}

slider {
  background: #F8F8F2;
  border-radius: 50%;
}

/* MPRIS */
.widget-mpris {
  background: #3E3D32;
  border-radius: 6px;
  padding: 8px;
  margin: 6px 0;
}

.widget-mpris-title {
  color: #A6E22E;
  font-weight: 600;
}

.widget-mpris-subtitle {
  color: #F8F8F2;
}

/* Buttons grid container */
.widget-buttons-grid {
  padding: 0;
  margin-top: 6px;
}

/* Force buttons to fit width */
.widget-buttons-grid > flowbox {
  padding: 0;
}

.widget-buttons-grid > flowbox > flowboxchild {
  padding: 2px;
}

/* Full-width buttons */
.widget-buttons-grid > flowbox > flowboxchild > button {
  background: #3E3D32;
  border-radius: 6px;
  color: #F8F8F2;
  padding: 20px 40px;
  min-width: 100%;
}

/* Hover */
.widget-button  -grid > flowbox > flowboxchild > button:hover {
  background: #A6E22E;
  color: #272822;
}

/* Power buttons accent */
.widget-buttons-grid#power > flowbox > flowboxchild > button:hover {
  background: #F92672;
  border-color: #F92672;
  color: #272822;
}
